/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  color: #ebebeb;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

/* line 15, ../sass/screen.scss */
.center {
  padding: 0 3rem;
  margin: 0 auto;
}

/* line 20, ../sass/screen.scss */
header {
  background: #333333;
  height: 6rem;
  line-height: 6rem;
  width: 100%;
}

/* line 27, ../sass/screen.scss */
.content {
  color: #333333;
  margin-top: 3rem;
}

/* line 32, ../sass/screen.scss */
h1 {
  float: left;
  font-size: 1.8rem;
  font-weight: 700;
}

/* line 38, ../sass/screen.scss */
h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* line 44, ../sass/screen.scss */
h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* line 50, ../sass/screen.scss */
h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* line 56, ../sass/screen.scss */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  width: 100%;
}

/* line 63, ../sass/screen.scss */
pre, code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9375rem;
  margin-top: -1rem;
  overflow-x: scroll;
}

/* line 71, ../sass/screen.scss */
.icon-reorder {
  color: #ebebeb;
  cursor: pointer;
  font-size: 0;
  float: right;
  position: relative;
  top: 2.25rem;
}

/* line 80, ../sass/screen.scss */
.main-nav {
  float: right;
}
/* line 83, ../sass/screen.scss */
.main-nav li {
  display: inline;
  margin-right: 25px;
}
/* line 87, ../sass/screen.scss */
.main-nav li:last-child {
  margin-right: 0px;
}
/* line 91, ../sass/screen.scss */
.main-nav li a {
  color: #ebebeb;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 101, ../sass/screen.scss */
.main-nav li a:hover {
  color: #9FC7E3;
}

@media screen and (max-width: 44rem) {
  /* line 110, ../sass/screen.scss */
  .center {
    padding: 0 1.5rem;
    margin: 0 auto;
  }

  /* line 115, ../sass/screen.scss */
  .content {
    margin-top: 2rem;
  }

  /* line 120, ../sass/screen.scss */
  .icon-reorder {
    font-size: 1.5rem;
  }

  /* line 124, ../sass/screen.scss */
  .main-nav {
    background: #333333;
    display: none;
    position: absolute;
    top: 6rem;
    left: 0rem;
    width: 100%;
  }
  /* line 132, ../sass/screen.scss */
  .main-nav li {
    display: block;
    border-bottom: 1px solid black;
    line-height: 5rem;
    margin-left: 25px;
  }
  /* line 138, ../sass/screen.scss */
  .main-nav li a {
    color: #ebebeb;
    display: block;
    height: 100%;
    width: 100%;
  }
}
